<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="shortcut icon" href="https://www.shareicon.net/download/2015/08/04/80060_tree_512x512.png" >
    </head>
    <body>
        <div class="container">
            
        </div>
        
        <div id="landing-header">
     		<h1>Welcome to YelpCamp!</h1>
    		<a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
        </div>
        
        <ul class="slideshow">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
    </body>
</html>

